{% macro render_field(field) %}
<div class="form-group {% if field.errors %}has-error{% endif %}">

    {% if field.errors %}
    {% for error in field.errors %}
    <span class="error-block" id="error_{{field.id}}">{{ error }}</span>
    {% endfor %}
    {% endif %}

    {% if field.type == 'RadioField'%}
    {% for value, label, checked in field.iter_choices() %}
    <div class="radio">
        <label class="block-label">
            <input type="radio" id="{{value}}" name="{{ field.id }}" value="{{ value }}" {% if checked %}checked="true"{% endif %}>{{ label }}
        </label>
    </div>
    {% endfor %}
    {% elif field.type == 'BooleanField' %}
    <label for="{{field.name}}" class="block-label">
        {{ field(**kwargs) }}
        {{field.label.text}}
    </label>
    {% elif field.type == 'CountriesField' %}
    <fieldset>
        <legend class="form-label-bold">{{field.label.text}}</legend>

        {% for value, label, selected in field.iter_top_choices() %}
        <label for="{{value}}" class="block-label">
            <input type="radio" id="{{value}}" name="{{ field.id }}" value="{{ value }}" {% if checked %}checked="true"{% endif %}>{{ label }}
        </label>
        {% endfor %}

        <div class="panel-indent optional-section">
            <label class="form-label" for="">Which country?</label>
            <select name='{{field.id}}'>
                {% for value, label, selected in field.iter_choices() %}
                <option value='{{value}}'>{{label}}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
    <script>
            $(document).ready(function() {
              var $optionalEl = $('.optional-section');
              {% if not field.errors %}
              $optionalEl.hide();
              {% endif %}
              $("input[name='{{field.id}}'][type='radio']").click(function() {
                var test = $(this).val();
                if (test === 'other') {
                  $optionalEl.show();
                } else {
                  $optionalEl.hide();
                }
              });
              $('select[name="{{field.id}}"]').click(function () {
                var val = $('select[name="{{field.id}}"]').val();
                $('input[name="{{field.id}}"]').val(val);
              });
            });
          </script>
    {% else %}
    {{ field.label(class_="col-sm-5") }}
    {% if field.description %}
    <span class="form-hint">{{field.description}}</span>
    {% endif %}
    {{ field(class_="col-sm-7", **kwargs) }}<br/>
    {% endif%}
</div>
{% endmacro %}