<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bankruptcy search</title>
    {% include 'includes/ext_references.html' %}
</head>
<body>
{% include 'includes/vertical_nav.html' %}
<div id="main" class="container">
    <div class="container">
        <div class="row">
            <h2>Migration dashboard</h2>

            <form action="/migrate" method="POST">
                <div class="row col-sm-12" style="padding-bottom:50px">
                    <div style="height:50px">
                        <br/>
                        {% if error is defined %}
                            <p style="color:red">{{error}}</p>
                        {% elif response_message is defined %}
                            <p>{{response_message}}</p>
                        {% endif %}
                        <br/>
                    </div>
                    <div class="col-sm-4" >
                        <div class="form-group">
                            <label for="start_date">Start date:</label>
                            <input class="form-control" style="width:200px" type="text" id="start_date"
                                   placeholder="yyyy-mm-dd" name="start_date" value="{{start_date}}">

                        </div>
                        <div class="form-group">
                            <label for="end_date" >End date:</label>
                            <input class="form-control" style="width:200px" type="text" id="end_date"
                                   placeholder="yyyy-mm-dd" name="end_date" value="{{end_date}}">
                        </div>
                    </div>

                    <div class="col-sm-8" ></div>

                </div>
                <div class="row col-sm-12">
                    <div class="col-sm-4" >
                        <input class="btn btn-primary" name="submit" id="start" type="submit" style="width:100px" value="Start">
                    </div>
         <!--       <div class="col-sm-4" >
                        <div class="btn-group ">
                            <input class="btn btn-primary" name="submit" id="halt" type="submit" style="width:100px" value="Halt">
                        </div>
                    </div>
                    <div class="col-sm-4" >
                        <input class="btn btn-primary" name="submit" id="progress" type="submit" style="width:100px" value="Progress">
                    </div>  -->
                </div>
                <br/>


            </form>
        </div>
        {% if results is defined %}
        {% if results|length > 0 %}
        <div class="row">
            <h2>Search Results</h2><br/>
            <table id="resultsTable" class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Forename</th>
                    <th>Surname</th>
                    <th>Json</th>
                </tr>
                </thead>
                {% for n in results %}
                <tbody>
                <tr>
                    <td>{{n[0]}}</td>
                    <td>{{n[1]}}</td>
                    <td>{{n[2]}}</td>
                    <td>{{n[3]}}</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <h3><span class="glyphicon glyphicon-info-sign"></span> Search returned no results</h3>
        {% endif %}

        <form action="/start_search" method="GET">
            <br/>
            <input class="btn btn-primary pull-right" id="reset" type="submit" value="reset">
        </form>
        {% endif %}
    </div>
</div>


</body>
</html>