<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bankruptcy registration</title>
    {% include 'includes/ext_references.html' %}
</head>
<body>
    {% include 'includes/vertical_nav.html' %}
    <div id="main" class="container" >
        <div class="container" >
            <div class="row">
                <h2>Register a bankruptcy</h2><br/>
                <form action="/add_address" method="POST">
                    <div class="row col-sm-12">
                        <div class="col-sm-7">
                            <h4>Additional Debtor Addresses</h4><br/>
                            <div class="col-sm-4">
                                <p><strong>Type of address:</strong></p>
                            </div>
                            <div class="col-sm-8">
                                {% if regnDetails.withheld == 'false' %}
                                    <input id="address_type1" name="address_type" type="radio" value="residence" />
                                    <label for="address_type1">Residence</label><br/>
                                {% endif %}
                                <input id="address_type2" name="address_type" type="radio" value="business" checked/>
                                <label for="address_type2">Business</label><br/>
                                <input id="address_type3" name="address_type" type="radio" value="investment" />
                                <label for="address_type3">Investment</label><br/><br/>
                            </div>
                            <div class="form-group">
                                <label for="name_or_number" class="col-sm-4">House name or no:</label>
                                <input type="text" id="name_or_number" name="name_or_number" value="{{name_or_number}}">
                            </div>
                            <div class="form-group">
                                <label for="street" class="col-sm-4">Street:</label>
                                <input type="text" id="street" name="street" value="{{street}}">
                            </div>
                            <div class="form-group">
                                <label for="town" class="col-sm-4">Town:</label>
                                <input type="text" id="town" name="town" value="{{town}}">
                            </div>
                            <div class="form-group">
                                <label for="county" class="col-sm-4">County:</label>
                                <input type="text" id="county" name="county" value="{{county}}">
                            </div>
                            <div class="form-group">
                                <label for="postcode" class="col-sm-4">Postcode:</label>
                                <input type="text" id="postcode" name="postcode" value="{{postcode}}">
                            </div>
                            <div class="col-sm-4">
                                 <p><strong>Add another address:</strong></p>
                            </div>
                            <div class="col-sm-8">
                                <input id="address0" name="add_address" type="radio" value="no" checked/>
                                <label for="address0">No</label><br/>
                                <input id="address1" name="add_address" type="radio" value="yes" />
                                <label id="label_address1" for="address1">Yes</label><br/>
                            </div>
                        </div>
                        <div class="col-sm-5 gray-panel">
                            <div class="form-group">
                                <h4>Summary</h4>
                                {% if regnDetails.key_number != "" %}
                                    <div class="col-sm-4">Key Number:</div>
                                    <div class="col-sm-8">{{regnDetails.key_number}}</div>
                                {% endif %}
                                {% if regnDetails.application_ref != "" %}
                                    <div class="col-sm-4">Reference:</div>
                                    <div class="col-sm-8">{{regnDetails.application_ref}}</div>
                                {% endif %}
                                {% if regnDetails.application_date != "" %}
                                    <div class="col-sm-4">Date:</div>
                                    <div class="col-sm-8">{{regnDetails.date}}</div>
                                {% endif %}
                                {% if regnDetails.forenames != "" or regnDetails.surname != "" %}
                                    <div class="col-sm-4">Name:</div>
                                    <div class="col-sm-8">{{regnDetails.forenames}}  {{regnDetails.surname}}</div>
                                {% endif %}
                                {% if regnDetails.alt_forename != "" or regnDetails.alt_surname != "" %}
                                    <div class="col-sm-4">Alt Name:</div>
                                    <div class="col-sm-8">{{regnDetails.alt_forename}} {{regnDetails.alt_surname}}</div>
                                {% endif %}
                                {% if regnDetails.date_of_birth != "" %}
                                    <div class="col-sm-4">DOB:</div>
                                    <div class="col-sm-8">{{regnDetails.date_of_birth}}</div>
                                {% endif %}
                                {% if regnDetails.gender != "" %}
                                    <div class="col-sm-4">Gender:</div>
                                    <div class="col-sm-8">{{regnDetails.gender}}</div>
                                {% endif %}
                                {% if regnDetails.occupation != "" %}
                                    <div class="col-sm-4">Occupation:</div>
                                    <div class="col-sm-8">{{regnDetails.occupation}}</div>
                                {% endif %}
                                {% if regnDetails.trading_name != "" %}
                                    <div class="col-sm-4">Trading:</div>
                                    <div class="col-sm-8">{{regnDetails.trading_name}}</div>
                                {% endif %}
                                {% if regnDetails.withheld != "" %}
                                    <div class="col-sm-4">Withheld Addr:</div>
                                    <div class="col-sm-8">{{regnDetails.withheld}}</div>
                                {% endif %}
                                {% for item in regnDetails.addressList %}
                                    {% if item.address_type == "residence" %}
                                        <div class="col-sm-4">Residence:</div>
                                        <div class="col-sm-8">
                                            {{item.name_or_number}}<br/>
                                            {{item.street}}<br/>
                                            {{item.town}}<br/>
                                            {{item.county}}<br/>
                                            {{item.postcode}}
                                        </div>
                                    {% elif item.address_type == "business" %}
                                        <div class="col-sm-4">Business:</div>
                                        <div class="col-sm-8">
                                            {{item.name_or_number}}<br/>
                                            {{item.street}}<br/>
                                            {{item.town}}<br/>
                                            {{item.county}}<br/>
                                            {{item.postcode}}
                                        </div>
                                    {% else %}
                                        <div class="col-sm-4">Investment:</div>
                                        <div class="col-sm-8">
                                            {{item.name_or_number}}<br/>
                                            {{item.street}}<br/>
                                            {{item.town}}<br/>
                                            {{item.county}}<br/>
                                            {{item.postcode}}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% if regDataAsJSON != "" %}
                                     <input type="hidden" name="regDataAsJSON" value="{{ regDataAsJSON }}" />
                                {% endif %}
                            </div>
                        </div>
                    </div><br/>
                    <div class="row col-sm-12">
                        <input class="btn btn-success pull-right" id="submit" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>